[project]
name = "server"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "diffusers",
    "fastapi[standard]>=0.123.4",
    "numpy>=2.3.5",
    "pillow>=12.0.0",
    "pydantic>=2.12.5",
    "pydantic-settings>=2.12.0",
    "rembg[cpu]>=2.0.68",
    "scikit-image>=0.25.2",
    "torch>=2.9.1",
]

[tool.uv.sources]
diffusers = { git = "https://github.com/huggingface/diffusers" }
